.contenidoMayor {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.contenidoP {
  position: fixed;
  top: 11%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid white;
  z-index: 1100;
  border-radius: 15px;
  width: 40%;
  height: 88%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.contenidoP::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  filter: blur(15rem);
  z-index: -1;
  border-radius: inherit;
}
.form1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%; /* Ajusta según sea necesario */
  height: 100%;
  max-width: 400px; /* Ajusta según sea necesario */
}
.input3 {
  margin-top: 5px;
  background-color: white;
  color: black;
  border: 1px solid black;
}
.textarea::placeholder,
.input3::placeholder {
  color: black;
  opacity: 0.7;
  font-style: italic;
}
.tituloCrearPosts {
  margin-bottom: 15px;
}
.input3,
.textarea,
.contBotones {
  margin-bottom: 5px;
  border-radius: 20px;
}
.textarea {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.input3,
.textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.contBotones {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 15px;
}

.btnEnviar1,
.btnCancelar1 {
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}

.tituloCrearPosts {
  margin-top: 17px;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: black;
  height: 0;
}
.contenedorCh {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  padding: 0.5em;
  gap: 10px;
}

.contenedorCh input {
  display: none;
  margin-bottom: 0;
}

.contenedorEncabezado {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 0px;
  width: 100%;
  height: 10%;
}
.opcionPs {
  position: absolute;
  right: 0;
}
.opcionPr {
  position: absolute;
  left: 0;
}
.encendido {
  color: green; /* Color para la opción seleccionada */
  border: 2px solid green; /* Borde para la opción seleccionada */
  background-color: black;
  padding: 5px; /* Añadir algo de padding para que el borde se vea mejor */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 0 10px green; /* Color para la palabra encendida */
}

.apagado {
  color: gray; /* Color para la opción no seleccionada */
  border: 2px solid transparent; /* Sin borde para la opción no seleccionada */
  padding: 5px;
}

.contenedorImg {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  width: 100%;
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}
.textImg {
  color: black;
}
.contenedorImg img {
  border-radius: 20px;
}
.btnEnviar1,
.btnCancelar1 {
  color: white;
  background-color: #0019;
}

.btnEnviar1:hover {
  color: white;
  background-color: rgb(24, 90, 24);
}
.btnCancelar1:hover {
  color: white;
  background-color: rgb(112, 15, 15);
}
.caracteres {
  background-color: white;
  position: relative;
  text-align: center;
  border-radius: 20px;
  width: 20%;
  position: relative;
  margin-bottom: 2px;
  color: black;
}
.inputArchivo::-webkit-file-upload-button {
  color: #001925;
}
.contenedorArchivo {
  margin-top: 2px;
  background-color: white;
  color: black;
  border-radius: 20px;
  width: 100%;
}

.toggle {
  background: #eee;
  width: 80px;
  height: 25px;
  padding: 5px;
  border-radius: 50px;
  margin: 50px;
  position: relative;
  cursor: pointer;
}

.toggle label {
  width: 25px;
  height: 25px;
  display: flex;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.25s ease 0s;
  background: #47c;
}

.toggle input {
  display: none;
}

.toggle input:checked + label {
  margin-left: 50px;
  background: #47c;
}
