body {
  background-color: rgb(14, 17, 19);
}
.contenedorPrincipal {
  display: flex;
  height: 100vh; /* Establece la altura al 100% del viewport */
}
.barra-navegacion-home {
  border-bottom: 1px solid rgb(62, 65, 66);
  background: transparent;
  backdrop-filter: blur(10px);
  height: 80px;
  align-items: center;
  background-color: rgb(14, 17, 19);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  align-items: center;
}
.logo-container {
  margin-left: 10px; /* Un poco de margen a la izquierda */
}

.logo-container img {
  margin-top: 0; /* Sin margen arriba */
}
.categoriaAct {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin-top: auto; /* Empuja el elemento hacia la parte inferior */
  color: white;
  flex-shrink: 0; /* Previene que se reduzca de tamaño */
  height: auto; /* Ajusta este valor según sea necesario */
}

.contDerecho {
  flex-direction: column;
  display: flex;
  justify-content: flex-start; /* Asegura que los elementos se alineen al principio por defecto */
  margin-top: calc(10px + 50px);
  width: 25%;
  height: 74%;
  border-radius: 5%;
  position: fixed;
  color: black;
  top: 5%;
  right: 5%;
}
.contIzquierdo {
  border-right: 1px solid rgb(62, 65, 66);
  margin-top: calc(10px + 70px);
  flex: 0 0 auto;
  background-color: rgb(14, 17, 19);
  width: 20%;
  color: rgb(235, 228, 228);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  overflow-y: auto;
  flex-direction: column;
  scrollbar-width: thin;
  overflow-y: auto;
  scrollbar-color: rgb(14, 17, 19) rgb(14, 17, 19);
}
.contIzquierdo:hover {
  scrollbar-color: rgb(62, 65, 66) rgb(14, 17, 19);
}
.contIzquierdo li {
  margin-top: 25px;
  cursor: pointer;
}
.contCentral {
  flex: 0 0 auto; /* El elemento ocupará todo el espacio restante */
  background-color: rgb(14, 17, 19); /* Color de fondo del contenido central */
  width: 50%;
  overflow-y: auto; /* Habilita el scroll vertical cuando el contenido es más largo que el contenedor */
  height: 100%;
  margin-left: 20%;
}
.cont {
  display: flex; /* Establece el contenedor como un contenedor flex */
}
.buscador {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}
.iconoBuscar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 25%;
  left: 15px; /* Ajusta la distancia del icono al borde izquierdo del contenedor */
}
.inputB {
  padding-left: 35px; /* Ajusta el padding izquierdo para dejar espacio para el icono */
  height: 35px;
  width: 42%;
  border-radius: 20px;
  margin-left: 25%;
  font-size: 15px;
}
.btnInicioSesion {
  background-color: #178288;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-right: 20px;
  text-decoration: none;
  width: 10%;
  height: 40%;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.btnNav {
  color: white;
  padding-left: 5%;
  font-size: 20px;
  margin-bottom: 5%;
  text-decoration: none;
  border-radius: 10px;
  display: flex; /* Para alinear el icono y el texto */
  align-items: center; /* Centra verticalmente los elementos */
}
.btnNav:hover {
  background-color: rgb(24, 28, 31);
}
.icon {
  padding-right: 7%;
}
.contNav {
  display: flex;
  position: relative;
  flex-direction: column; /* Organiza los elementos verticalmente */
  margin-top: 6%;
  border-bottom: 1px solid rgb(62, 65, 66);
  width: 80%;
}
.tituloDerecho {
  color: rgb(139, 162, 173);
}
.contenidoD {
  display: flex;
  font-size: 15px;
  position: relative;
  flex-direction: column; /* Organiza los elementos verticalmente */
  margin-top: 3%;
  margin-left: 2%;
  width: 80%;
}
.contenedorImagen {
  margin-top: 8%;
  color: white;
  display: flex;
}
.contenedorImagen label {
  margin-left: 8%;
  color: white;
  margin-top: 5%;
}
.contenedorImagen img {
  border-radius: 100%;
}
.contenedorPer {
  background-color: rgb(14, 17, 19);
  position: relative;
  margin-left: 20px;
  margin-right: 10px;
  border-bottom: 1px solid rgb(62, 65, 66);
}
.postP {
  border-bottom: 1px solid rgb(62, 65, 66);
  border-top: 1px solid rgb(62, 65, 66);
  background-color: rgb(14, 17, 19);
  width: 95%;
  left: 3%;
  position: relative;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(62, 65, 66);
  border-top: 1px solid rgb(62, 65, 66);
}
.postP-User {
  border-bottom: 1px solid rgb(62, 65, 66);
  border-top: 1px solid rgb(62, 65, 66);
  background-color: rgb(14, 17, 19);
  width: 50%;
  margin-left: 21%;
  left: 3%;
  position: relative;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(62, 65, 66);
  border-top: 1px solid rgb(62, 65, 66);
}
.card-post {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 93.72%;
  margin: 20px auto;
  min-height: 250px;
  border-radius: 15px;
  background: rgb(14, 17, 19);
  transition: 0.05s;
}

.card-post:hover {
  background-color: rgb(24, 28, 31);
}

.card-title-post {
  font-size: 2rem;
  font-weight: 600;
  color: #b2eccf;
  margin: 15px 0 0 10px;
}
.card-title-post-User {
  font-size: 2rem;
  font-weight: 600;
  color: #b2eccf;
  width: 100%;
  margin: 15px 0 0 10px;
}
.card-image-post {
  min-height: auto;
  max-height: auto;
  min-width: 500px;
  max-width: 560px;
  background-color: #313131;
  border-radius: 15px;
  background: #313131;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-image-post-User {
  min-height: auto;
  max-height: auto;
  min-width: auto;
  max-width: auto;
  background-color: #313131;
  border-radius: 15px;
  background: #313131;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-image-post-User img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  object-fit: cover;
}

.card-image-post img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  object-fit: cover;
}

.card-body-post {
  margin: 13px 0 0 10px;
  color: rgb(184, 184, 184);
  font-size: 20px;
  margin-bottom: 2%;
  text-align: justify;
}
.card-body-post-User {
  margin: 13px 0 0 10px;
  color: rgb(184, 184, 184);
  font-size: 20px;
  width: 96%;
  margin-bottom: 2%;
  text-align: justify;
}

.footer {
  margin: 28px 0 0 18px;
  font-size: 13px;
  color: #b3b3b3;
}

.by-name {
  font-weight: 700;
}
.headerPost {
  margin-bottom: 2%;
  display: flex;
  align-items: center;
}
.headerPost img {
  border-radius: 100%;
}
.headerPost label {
  padding-left: 10px;
  font-size: 1.1rem;
  color: white;
}
.headerPost-User {
  margin-bottom: 2%;
  display: flex;
  align-items: center;
}
.headerPost-User img {
  border-radius: 100%;
}
.headerPost-User label {
  padding-left: 10px;
  font-size: 1.1rem;
  color: white;
}
.btnCerrarSesion {
  margin-top: 100%;
}

*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(104, 104, 104); /* Color del thumb */
}
*::-webkit-scrollbar-track {
  background-color: rgb(66, 66, 66); /* Color del track */
}

.logo-image {
  width: 100px;
  height: 80px;
  background-image: url("images/logoApp1.png");
  padding: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.miniatura {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-size: cover; /* Ajusta la imagen para que cubra todo el elemento */
  background-position: center; /* Centra la imagen */
}
.logo-app {
  background-image: url("images/logoApp1.png");
  width: 100%; /* Ajusta esto según tus necesidades */
  height: 100%; /* Ajusta esto según tus necesidades */
  background-size: cover; /* Ajusta la imagen para que cubra todo el elemento */
  background-position: center; /* Centra la imagen */
  display: block; /* Asegura que se comporte como un bloque */
  margin-top: 50px;
}

.btns-Categorias {
  display: inline-block;
  padding: 8px 10px;
  color: #03e8f4cd;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 1%;
  letter-spacing: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.btns-Categorias:hover {
  background-color: #03e8f451;
  color: #fff;
  box-shadow: 0 0 5px #03e8f479, 0 0 10px #03e9f4, 0 0 20px #03e9f4,
    0 0 50px #03e9f4;
}

.btns-Categorias:disabled {
  color: #cccccc;
  cursor: not-allowed;
}
.mensajePostsVaciosL {
  margin-top: 10%;
  margin-left: 20%;
  width: 60%;
  padding: 25px;
  color: white;
  text-align: center;
  border: 1px solid white;
}
.mensajePostsVacios {
  margin-top: 10%;
  margin-left: 35%;
  width: 30%;
  padding: 25px;
  color: white;
  text-align: center;
  border: 1px solid white;
}
.contCategorias h2 {
  margin-left: 10%;
}
.bookmarkBtn {
  border: none;
  background-color: transparent;
}
.label-container {
  color: white; /* Hereda el color del texto del contenedor */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}
.label-container-Home {
  color: white; /* Hereda el color del texto del contenedor */
  text-decoration: none;
  padding: 20px;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  cursor: pointer;
}
.IconContainer {
  width: 30px;
  height: 30px;
  background-color: rgb(66, 66, 66);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
  transition-duration: 0.3s;
}
.IconContainer:hover {
  background-color: #b2eccf;
  fill: white;
}
.contBtnPost {
  display: flex;
  margin-bottom: 10px;
}
.contBtnPost-User {
  display: flex;
  margin-bottom: 10px;
}
.btn-regresar-Principio {
  position: fixed;
  bottom: 20px;
  margin-bottom: 20px;
  left: 20px;
  z-index: 1000;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.Btn-descarga {
  background-color: rgb(66, 66, 66);
  transition-duration: 0.3s;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon-descarga {
  fill: black;
}

.icon2-descarga {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.tooltip-descarga {
  position: absolute;
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  left: 15vh;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip-descarga::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -5%;
  transition-duration: 0.3s;
}

.Btn-descarga:hover .tooltip-descarga {
  opacity: 1;
  transition-duration: 0.3s;
}

.Btn-descarga:hover {
  background-color: #b2eccf;
  transition-duration: 0.3s;
}

.Btn-descarga:hover .icon2-descarga {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.Btn-descarga:hover .svgIcon-descarga {
  fill: black;
  animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.logo-empresa {
  width: 150px;
  background-color: rgba(255, 255, 255, 0.774);
  border-radius: 35px;
  color: white;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .logo-image {
    width: 100px;
    height: 80px;
    padding: 50%;
    margin-left: -10%;
  }

  .inputB {
    height: 35px;
    width: 100%;
    margin-left: -5%;
  }
  .logo-empresa {
    width: 70px;
    margin-left: 35%;
    background-color: rgb(49, 49, 49);
    border-radius: 15px;
  }
  .iconoBuscar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0%;
    left: 1%;
  }

  .btnInicioSesion {
    border-radius: 5px;
    margin-right: 5px;
    width: 15%;
    height: 50%;
    padding: 2px;
  }
  .cont {
    flex-direction: column;
  }
  .contDerecho {
    margin-top: 0;
    border: none;
    background-color: rgb(14, 17, 19);
    margin-left: 0px;
    margin-right: 0px;
    height: 50px;
    position: relative;
    color: black;
    overflow: hidden;
    border-radius: 0px;
    top: 0%;
    right: 0%;
    order: -1;
    position: sticky;
    top: 80px;
    z-index: 1;
  }

  .categoriaAct {
    display: none;
  }
  .contIzquierdo {
    position: relative;
  }
  .contIzquierdo,
  .contDerecho {
    width: 100%;
  }
  .barra-navegacion-home {
    border-bottom: 1px solid rgb(62, 65, 66);
    background: transparent;
    backdrop-filter: blur(10px);
    height: 80px;
    align-items: center;
    background-color: rgb(14, 17, 19);
    top: 0;
    justify-content: space-between;
    z-index: 1;
    align-items: center;
  }
  .postP {
    background-color: rgb(14, 17, 19);
    width: 100%;
    left: 0%;
    position: relative;
    display: flez;
    border-bottom: 1px solid rgb(62, 65, 66);
    border-top: 1px solid rgb(62, 65, 66);
  }
  .contCentral {
    flex: 0 0 auto;
    width: 100%;
    overflow-y: auto; /* Habilita el scroll vertical cuando el contenido es más largo que el contenedor */
    height: 100%;
    margin-left: 0%;
  }
  .card-image-post {
    margin-left: 0%;
    min-height: auto;
    max-height: auto;
    max-width: 320px;
    min-width: 320px;
    background-color: #313131;
    border-radius: 15px;
    background: #313131;
    overflow: hidden;
    position: relative;
  }
  .card-image-post-User {
    margin-left: 0%;
    min-height: auto;
    max-height: auto;
    max-width: 320px;
    min-width: 320px;
    background-color: #313131;
    border-radius: 15px;
    background: #313131;
    overflow: hidden;
    position: relative;
  }

  .card-image-post img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    object-fit: cover;
  }
  .card-image-post-User img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    object-fit: cover;
  }
  .btn-menu-categorias {
    /* Modo de escritura vertical, de derecha a izquierda */ /* Orientación de texto mixto para adaptarse mejor a diferentes navegadores */
    background-color: rgb(11, 86, 91);
    width: 8%;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    border-radius: 5px;
    cursor: pointer;
    position: fixed; /* Posicionar fijo para que se sobreponga */
    left: 0px;
    top: 50%; /* Punto de transformación para que el botón gire desde la esquina inferior izquierda */
    z-index: 1001;
    transition: left 0.3s ease;
  }
  .btn-menu-categorias.active {
    left: 70%;
    transform: rotate(180deg);
  }
  .cont-categorias-des {
    padding: 10px;
    width: 70%;
    margin: 10px;
    position: fixed;
    height: 100%;
    background-color: rgb(14, 17, 19);
    left: 0;
    margin-left: 0;
    top: 7%;
    z-index: 1000;
    transition: left 0.3s ease;
  }
  .cont-categorias-des h2 {
    color: white;
  }
  .headerPost-User img {
    margin-left: 0%;
  }
  .card-title-post-User {
    padding-left: 0%;
  }
  .card-body-post-User {
    width: 90%;
    padding-left: 0%;
  }
  .contBtnPost-User {
    margin-left: 0%;
  }
  .postP-User {
    background-color: rgb(14, 17, 19);
    width: 100%;
    left: 0%;
    margin-left: 0%;
  }
  .btn-regresar-Principio {
    margin-left: 22%;
  }
}
