:root {
  --color-one: #52117d;
  --color-two: #a944ec;
  --color-three: #ffc800;
  --color-accent: #19ff70;
  --color-text: #fffed7;
  --color-bg: #181729;

  /* Typography */
  --font-family: "Inter", sans-serif;
  --font-family-headings: "Inter", sans-serif;
}

.seleccionar-intereses {
  display: grid;
  gap: 1rem;
  justify-items: center;
  text-align: center;
  color: var(--color-text);
  
}

.seleccionar-intereses h2 {
  font-family: var(--font-family-headings);
  font-size: 1.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox-container .tgl {
  display: none;
}

.checkbox-container .tgl,
.checkbox-container .tgl:after,
.checkbox-container .tgl:before,
.checkbox-container .tgl *,
.checkbox-container .tgl *:after,
.checkbox-container .tgl *:before,
.checkbox-container .tgl + .tgl-btn {
  box-sizing: border-box;
}

.checkbox-container .tgl::-moz-selection,
.checkbox-container .tgl:after::-moz-selection,
.checkbox-container .tgl:before::-moz-selection,
.checkbox-container .tgl *::-moz-selection,
.checkbox-container .tgl *:after::-moz-selection,
.checkbox-container .tgl *:before::-moz-selection,
.checkbox-container .tgl + .tgl-btn::-moz-selection,
.checkbox-container .tgl::selection,
.checkbox-container .tgl:after::selection,
.checkbox-container .tgl:before::selection,
.checkbox-container .tgl *::selection,
.checkbox-container .tgl *:after::selection,
.checkbox-container .tgl *:before::selection,
.checkbox-container .tgl + .tgl-btn::selection {
  background: none;
}

.checkbox-container .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox-container .tgl + .tgl-btn:after,
.checkbox-container .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.checkbox-container .tgl + .tgl-btn:after {
  left: 0;
}

.checkbox-container .tgl + .tgl-btn:before {
  display: none;
}

.checkbox-container .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.checkbox-container .tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}

.checkbox-container .tgl-flip + .tgl-btn:after,
.checkbox-container .tgl-flip + .tgl-btn:before {
  display: inline-block;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
}

.checkbox-container .tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #02C66F;
  transform: rotateY(-180deg);
}

.checkbox-container .tgl-flip + .tgl-btn:before {
  background: #FF3A19;
  content: attr(data-tg-off);
}

.checkbox-container .tgl-flip + .tgl-btn:active:before {
  transform: rotateY(-20deg);
}

.checkbox-container .tgl-flip:checked + .tgl-btn:before {
  transform: rotateY(180deg);
}

.checkbox-container .tgl-flip:checked + .tgl-btn:after {
  transform: rotateY(0);
  left: 0;
  background: #7FC6A6;
}

.checkbox-container .tgl-flip:checked + .tgl-btn:active:after {
  transform: rotateY(20deg);
}

.checkbox-container span {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--color-text);
}


/*
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-accent);
  color: var(--color-bg);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

button:disabled {
  background-color: #9a9a88;
  cursor: not-allowed;
}

*/
  

button {
  display: inline-block;
  padding: 8px 10px;
  color: #03e9f4;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 10px;
  letter-spacing: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  background-color: #03e9f4;
  color: #fff;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

button:disabled {
  color: #cccccc;
  cursor: not-allowed;
}
