body {
  background-color: #333;
  margin: 0;
  padding: 0;
}
.login-panel {
  border-radius: 80px; /* Redondea todas las esquinas con un radio de 10px */
  height: auto; /* Cambiar la altura a 'auto' para que se ajuste automáticamente al contenido */
  margin: 0 auto; /* Centrar horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/fondo1.gif");
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 70vh;
  width: 70vw;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.centered-div {
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-content {
  position: relative;
  top: 1000px;
  left: 10%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.login-panel h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 350%;
  margin-bottom: 20px;
  text-align: center; /* Centra el texto del h1 */
}

.mountain-background {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  overflow: hidden;
}

.mountain-background img {
  width: 100%;
  height: auto;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}
.btnSEmail,
.btnLGmail,
.btnSGmail {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5em 1em;
  background-color: #ffff;
  border: 2px solid rgb(9, 44, 90);
  border-radius: 1em;
  color: #020202;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px rgb(9, 44, 90);
  margin-right: 10px;
}
.btnSEmail:hover,
.btnLGmail:hover,
.btnSGmail:hover {
  transform: translate(5px, -5px);
}
.option {
  background-color: #291f1f9f;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option:hover {
  background-color: #333;
  color: #fff;
}

.registration-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; /* Espacio entre los elementos */
  align-items: center;
  justify-items: center;
  margin-top: 20px;
}

.registration-form h2 {
  color: #fff;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los elementos a la izquierda */
  width: 80%; /* Ancho del contenedor del input */
}

.form-group label {
  color: #fff;
}

.form-group input {
  background-color: #291f1f9f;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 5px;
  width: 100%; /* Ancho del input */
}

.form-group input::placeholder {
  color: #fff;
}

.input {
  width: 275px;
  height: 45px;
  border: none;
  outline: none;
  margin-top: 20px;
  padding: 0px 7px;
  border-radius: 6px;
  color: black;
  font-size: 15px;
  /*background-color: transparent;*/
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
}
.input:focus {
  color: black;
  /*background-color: #212121;*/
  outline-color: rgb(9, 44, 90);
  box-shadow: -3px -3px 15px rgb(10, 10, 125);
  transition: 0.1s;
  transition-property: box-shadow;
}

.container1 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
  color: white;
}

.titulo {
  text-align: left;
  font-family: Arial Black;
  font-weight: lighter;
  font-size: 28px;
  margin-top: 0px;
  color: #fff;
  text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa,
    0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
.button {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border-width: 0;
  margin-top: 20px;
  padding: 0 8px 12px;
  min-width: 10em;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  cursor: pointer;
}
.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: px;
}

.button-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  padding: 8px 16px;
  transform: translateY(0);
  text-align: center;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
  transition-property: transform;
  transition-duration: 0.2s;
  -webkit-user-select: none;
  user-select: none;
}

.button:active .button-top {
  transform: translateY(6px);
}

.button-top::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  background-image: radial-gradient(rgb(9, 44, 90), rgb(9, 44, 90));
  text-align: center;
  color: #fff;
  box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.2),
    0 1px 2px 1px rgba(255, 255, 255, 0.2);
  transition-property: border-radius, padding, width, transform;
  transition-duration: 0.2s;
}

.button:active .button-top::after {
  border-radius: 6px;
  padding: 0 2px;
}

.button-bottom {
  position: absolute;
  z-index: -1;
  bottom: 4px;
  left: 4px;
  border-radius: 8px / 16px 16px 8px 8px;
  padding-top: 6px;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  box-sizing: content-box;
  background-color: rgb(9, 44, 90);
  background-image: radial-gradient(
      4px 8px at 4px calc(100% - 8px),
      rgba(255, 255, 255, 0.25),
      transparent
    ),
    radial-gradient(
      4px 8px at calc(100% - 4px) calc(100% - 8px),
      rgba(255, 255, 255, 0.25),
      transparent
    ),
    radial-gradient(16px at -4px 0, white, transparent),
    radial-gradient(16px at calc(100% + 4px) 0, white, transparent);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5),
    inset 0 -1px 3px 3px rgba(0, 0, 0, 0.4);
  transition-property: border-radius, padding-top;
  transition-duration: 0.2s;
}

.button:active .button-bottom {
  border-radius: 10px 10px 8px 8px / 8px;
  padding-top: 0;
}

.button-base {
  position: absolute;
  z-index: -2;
  top: 4px;
  left: 0;
  border-radius: 12px;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.75),
    inset 0 2px 2px rgba(0, 0, 0, 0.25);
}
/* inspired form gumroad website */
.buttonRC {
  --bg: rgb(8, 8, 39);
  --hover-bg: rgb(9, 31, 146);
  --hover-text: #ffff;
  color: #fff;
  margin-top: 25px;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.buttonRC:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.buttonRC:active {
  transform: translate(0);
  box-shadow: none;
}

.inputBox {
  position: relative;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBox input {
  padding: 6px 10px;
  outline: none;
  background: white;
  border-radius: 6px;
  color: black;
  border: 1px solid rgb(9, 44, 90);
  font-size: 1em;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 15px 20px;
  pointer-events: none;
  font-size: 1em;
  transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
  color: rgb(9, 44, 90);
  letter-spacing: 0.1em;
  margin: -8px;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span {
  font-size: 0.7em;
  transform: translateX(18px) translateY(-1px);
  padding: 0 5px;
  border-radius: 2px;
  background: #ffff;
  letter-spacing: 0em;
  border: 1px solid rgb(9, 44, 90);
}

.inputBox input:invalid {
  color: transparent; /* Hace que el texto del input sea transparente cuando es inválido */
}

.inputBox input:focus {
  color: black;
  background: white;
}

.btnRegisterE {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 8px 20px;
  transition: 0.5s;
  position: relative;
  font-size: 17px;
  background: white;
  border: 2px solid rgb(9, 44, 90);
  color: black;
  margin-top: 0;
  cursor: pointer;
}

.btnRegisterE:hover {
  letter-spacing: 0.25em;
  background: rgb(9, 44, 90);
  color: black;
  box-shadow: 0 0 45px rgb(29, 118, 233);
}

.btnRegisterE::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: white;
}

.btnRegisterE span {
  position: relative;
  z-index: 1;
}

.btnRegisterE i {
  position: absolute;
  inset: 0;
  display: block;
}

.btnRegisterE i::before {
  content: "";
  position: absolute;
  border: 2px solid rgb(9, 44, 90);
  width: 7px;
  height: 4px;
  top: -5px;
  left: 80%;
  background: black;
  transform: translateX(-50%);
  transition: 0.5s;
}

.btnRegisterE:hover i::before {
  width: 20px;
  left: 20%;
}

.btnRegisterE i::after {
  content: "";
  position: absolute;
  border: 2px solid rgb(9, 44, 90);
  width: 7px;
  height: 4px;
  bottom: -5px;
  left: 20%;
  background: black;
  transform: translateX(-50%);
  transition: 0.5s;
}

.btnRegisterE:hover i::after {
  width: 20px;
  left: 80%;
}

.Registro_C {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente los elementos */
  height: 100vh; /* Ajusta la altura del contenedor para ocupar toda la altura de la ventana */
}

.btnRegresoLogin {
  margin-top: 0px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; /* Espacio entre columnas */
}

.fecha,
select {
  width: 85%; /* Asegura que ocupen todo el ancho del contenedor */
  cursor: pointer;
}

select {
  height: 100%;
}

.btnRegresoLogin {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.btnRegresoLogin:hover {
  width: 225px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.btnRegresoLogin:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 5px;
}
/* hover effect button's text */
.btnRegresoLogin:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.btnRegresoLogin:active {
  transform: translate(2px, 2px);
}
.btnG {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  height: 10vh;
  width: 100vh;
}
GoogleLogin {
  position: center;
}

.CentroGmail {
  align-items: center;
  display: flexbox;
}

.btnContainerG {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  margin-bottom: 20px; /* Espacio entre los botones */
}
.btnG {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.btnregistroG.disabled {
  position: relative;
  width: 10em;
  height: 2em;
  text-align: center;
  font-family: poppins;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  background-color:rgb(34, 33, 33);
  border: none;
  transition: color 0.2s linear, box-shadow 0.3s linear,
    background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btnregistroG.enabled {
  position: relative;
  width: 10em;
  height: 2em;
  text-align: center;
  font-family: poppins;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  background-color: rgba(3, 3, 3, 0.5);
  border: none;
  transition: color 0.2s linear, box-shadow 0.3s linear,
    background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btnregistroG.enabled:focus,
.btnregistroG.enabled:hover {
  box-shadow: 0 0 110px #fff;
  background-color: rgba(255, 255, 255, 0.4);
  color: #111;
  font-weight: 500;
}
.btnregistroG.disabled:focus,
.btnregistroG.disabled:hover {
  box-shadow: 0 0 110px black;
  background-color: #111;
  color: #111;
  font-weight: 500;
}


.btnregistroG.enabled:focus:before,
.btnregistroG.enabled:hover:before,
.btnregistroG.enabled:focus:after,
.btnregistroG.enabled:hover:after {
  width: 100%;
  left: 0%;
}

.btnregistroG.enabled:before,
.btnregistroG.enabled:after {
  content: "";
  position: absolute;
  pointer-events: none;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: width, left, 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btnregistroG.enabled:before {
  top: -2px;
}

.btnregistroG.enabled:after {
  bottom: -2px;
}
